{% extends "main_site.html" %}

{% block content_wrapper %}
    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card darken-1">
                <form action="" method="get">
                    <div class="card-content">
                        {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="card-action">
                        <input class="btn waves-effect waves-light" type="submit" value="Filter">
                        {% if not search_status %}
                            <a href="advanced_search">Advanced Filter</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m8 l9">
            {% if my_list %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1&query={{ query }}{{ attributes }}">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}{{ attributes }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&query={{ query }}{{ attributes }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}{{ attributes }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Splatnet #</th>
                        <th>Stage</th>
                        <th>Cleared?</th>
                        <th>Player Golden</th>
                        <th>Team Golden</th>
                        <th>Team Power</th>
                        <th>Hazard Level</th>
                        <th>Title</th>
                        <th>Date Time</th>
                    </tr>
                {% for shift, team_golden, team_power, time_val in my_list %}
                    <tr>
                        <td>{{ shift.player_name }}</td>
                        <td><a href="/two_salmon/{{ shift.id }}/">{{ shift.job_id }}</a></td>
                        <td>{{ shift.get_stage_display }}</td>
                        <td>{{ shift.is_clear }}</td>
                        <td>{{ shift.player_golden_eggs }}</td>
                        <td>{{ team_golden }}</td>
                        <td>{{ team_power }}</td>
                        <td>{{ shift.danger_rate }}</td>
                        <td>{{ shift.get_player_title_display }} {{ shift.grade_point }}</td>
                        <td>{{ time_val }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No shifts are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock content_wrapper %}
{% block aftercontent %}
{% endblock aftercontent %}