{% extends "main_site.html" %}
{% block content_wrapper %}
    <table>
        <tr>
            <th>SplatNet Job #</th>
            <td>{{ shift.job_id }}</td>
        </tr>
        <tr>
            <th>Stage</th>
            <td>{{ shift.get_stage_display }}</td>
        </tr>
        <tr>
            <th>Result</th>
            <td>{{ result }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ shift.player_title }}{{ shift.grade_point }}</td>
        </tr>
        <tr>
            <th>Hazard Level</th>
            <td>{{ shift.danger_rate }}</td>
        </tr>
        <tr>
            <th>Rotation</th>
            <td>From {{ shift.schedule_starttime }} to {{ shift.schedule_endtime }}</td>
        </tr>
        <tr>
            <th>Job Start</th>
            <td>{{ shift.playtime }}</td>
        </tr>
    </table>
    <table>
        <thead>
            <tr>
                <th>Wave</th>
                <th>Event</th>
                <th>Water Level</th>
                <th>Quota</th>
                <th>Delivers</th>
                <th>Appearances</th>
                <th>Power Eggs</th>
            </tr>
        </thead>
        <tbody>
            {% for wave in shift_waves %}
                <tr>
                    <td>{{ wave.num }}</td>
                    <td>{{ wave.event }}</td>
                    <td>{{ wave.water_level }}</td>
                    <td>{{ wave.quota }}</td>
                    <td>{{ wave.delivers }}</td>
                    <td>{{ wave.appearances }}</td>
                    <td>{{ wave.power_eggs }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Boss Name</th>
                <th>Appearances</th>
                <th>{{ shift.player_name }}</th>
                <th>{{ shift.teammate0_name }}</th>
                <th>{{ shift.teammate1_name }}</th>
                <th>{{ shift.teammate2_name }}</th>
            </tr>
        </thead>
        <tbody>
            {% for boss in shift_bosses %}
                <tr>
                    <td>{{ boss.name }}</td>
                    <td>{{ boss.appearances }}</td>
                    <td>{{ boss.player_kills }}</td>
                    <td>{{ boss.teammate0_kills }}</td>
                    <td>{{ boss.teammate1_kills }}</td>
                    <td>{{ boss.teammate2_kills }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content_wrapper %}