{% extends "base.html" %}

{% block content%}
    <div class="card darken-1">
        <form action="" method="get">
            <div class="card-content">
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            </div>
            <div class="card-action">
                <input type="submit" value="Filter">
            </div>
        </form>
    </div>
    <div class=row>
        <div class="col s6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        Expressoin format
                    </span>
                    term: (expr) | (LPAREN term (OR | AND) term RPAREN) | (NOT LPAREN term RPAREN)
                    <br>
                    expr: ATTR (> | >= | < | <= | ==) value
                    <br>
                    value: INTEGER | FLOAT | STRING | BOOL
                    <br>
                    INTEGER: Any whole number
                    <br>
                    FLOAT: Any number expressed in decimal format
                    <br>
                    STRING: Any sequence of characters, surrounded by quotation marks
                    <br>
                    BOOL: either True or False
                    <br>
                    ATTR: see attribute list below
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        Available Attributes
                    </span>
                    List below uses RegEx for conciseness.
                    Do not type in the RegEx exactly, but instead use a string that it would match.
                    <br>
                    <br>
                    rule
                    <br>
                    match_type
                    <br>
                    stage
                    <br>
                    win
                    <br>
                    has_disconnected_player
                    <br>
                    time
                    <br>
                    battle_number
                    <br>
                    win_meter
                    <br>
                    /((my)|(other))_team_count/
                    <br>
                    elapsed_time
                    <br>
                    tag_id
                    <br>
                    league_point
                    <br>
                    splatfest_point
                    <br>
                    splatfest_title_after
                    <br>
                    player_x_power
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_weapon/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_rank/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_level(_star)?/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((kills)|(deaths)|(assists))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((specials)|(game_paint_point))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_splatfest_title/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((name)|(splatnet_id))
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((gender)|(species))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((headgear)|(clothes)|(shoes))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((headgear)|(clothes)|(shoes))_sub[0-2]/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((headgear)|(clothes)|(shoes))_main/
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        weapon
                    </span>
                    0 (Sploosh-o-matic)
                    <br>
                    1 (Neo Sploosh-o-matic)
                    <br>
                    2 (Sploosh-o-matic 7)
                    <br>
                    10 (Splattershot Jr.)
                    <br>
                    11 (Custom Splattershot Jr.)
                    <br>
                    12 (Kensa Splattershot Jr.)
                    <br>
                    20 (Splash-o-matic)
                    <br>
                    21 (Neo Splash-o-matic)
                    <br>
                    30 (Aerospray MG)
                    <br>
                    31 (Aerospray RG)
                    <br>
                    32 (Aerospray PG)
                    <br>
                    40 (Splattershot)
                    <br>
                    41 (Tentatek Splattershot)
                    <br>
                    42 (Kensa Splattershot)
                    <br>
                    45 (Hero Shot Replica)
                    <br>
                    46 (Octo Shot Replica)
                    <br>
                    50 (.52 Gal)
                    <br>
                    51 (.52 Gal Deco)
                    <br>
                    52 (Kensa .52 Gal)
                    <br>
                    60 (N-ZAP '85)
                    <br>
                    61 (N-ZAP '89)
                    <br>
                    62 (N-ZAP '83)
                    <br>
                    70 (Splattershot Pro)
                    <br>
                    71 (Forge Splattershot Pro)
                    <br>
                    72 (Kensa Splattershot Pro)
                    <br>
                    80 (.96 Gal)
                    <br>
                    81 (.96 Gal Deco)
                    <br>
                    90 (Jet Squelcher)
                    <br>
                    91 (Custom Jet Squelcher)
                    <br>
                    200 (Luna Blaster)
                    <br>
                    201 (Luna Blaster Neo)
                    <br>
                    202 (Kensa Luna Blaster)
                    <br>
                    210 (Blaster)
                    <br>
                    211 (Custom Blaster)
                    <br>
                    215 (Hero Blaster Replica)
                    <br>
                    220 (Range Blaster)
                    <br>
                    221 (Custom Range Blaster)
                    <br>
                    222 (Grim Range Blaster)
                    <br>
                    230 (Clash Blaster)
                    <br>
                    231 (Clash Blaster Neo)
                    <br>
                    240 (Rapid Blaster)
                    <br>
                    241 (Rapid Blaster Deco)
                    <br>
                    242 (Kensa Rapid Blaster)
                    <br>
                    250 (Rapid Blaster Pro)
                    <br>
                    251 (Rapid Blaster Pro Deco)
                    <br>
                    300 (L-3 Nozzlenose)
                    <br>
                    301 (L-3 Nozzlenose D)
                    <br>
                    302 (Kensa L-3 Nozzlenose)
                    <br>
                    310 (H-3 Nozzlenose)
                    <br>
                    311 (H-3 Nozzlenose D)
                    <br>
                    312 (Cherry H-3 Nozzlenose)
                    <br>
                    400 (Squeezer)
                    <br>
                    401 (Foil Squeezer)
                    <br>
                    1000 (Carbon Roller)
                    <br>
                    1001 (Carbon Roller Deco)
                    <br>
                    1010 (Splat Roller)
                    <br>
                    1011 (Krak-On Splat Roller)
                    <br>
                    1012 (Kensa Splat Roller)
                    <br>
                    1015 (Hero Roller Replica)
                    <br>
                    1020 (Dynamo Roller)
                    <br>
                    1021 (Gold Dynamo Roller)
                    <br>
                    1022 (Kensa Dynamo Roller)
                    <br>
                    1030 (Flingza Roller)
                    <br>
                    1031 (Foil Flingza Roller)
                    <br>
                    1100 (Inkbrush)
                    <br>
                    1101 (Inkbrush Nouveau)
                    <br>
                    1102 (Permanent Inkbrush)
                    <br>
                    1110 (Octobrush)
                    <br>
                    1111 (Octobrush Nouveau)
                    <br>
                    1112 (Kensa Octobrush)
                    <br>
                    1115 (Herobrush Replica)
                    <br>
                    2000 (Classic Squiffer)
                    <br>
                    2001 (New Squiffer)
                    <br>
                    2002 (Fresh Squiffer)
                    <br>
                    2010 (Splat Charger)
                    <br>
                    2011 (Firefin Splat Charger)
                    <br>
                    2012 (Kensa Charger)
                    <br>
                    2015 (Hero Charger Replica)
                    <br>
                    2020 (Splatterscope)
                    <br>
                    2021 (Firefin Splatterscope)
                    <br>
                    2022 (Kensa Splatterscope)
                    <br>
                    2030 (E-liter 4K)
                    <br>
                    2031 (Custom E-liter 4K)
                    <br>
                    2040 (E-liter 4K Scope)
                    <br>
                    2041 (Custom E-liter 4K Scope)
                    <br>
                    2050 (Bamboozler 14 Mk I)
                    <br>
                    2051 (Bamboozler 14 Mk II)
                    <br>
                    2052 (Bamboozler 14 Mk III)
                    <br>
                    2060 (Goo Tuber)
                    <br>
                    2061 (Custom Goo Tuber)
                    <br>
                    3000 (Slosher)
                    <br>
                    3001 (Slosher Deco)
                    <br>
                    3002 (Soda Slosher)
                    <br>
                    3005 (Hero Slosher Replica)
                    <br>
                    3010 (Tri-Slosher)
                    <br>
                    3011 (Tri-Slosher Nouveau)
                    <br>
                    3020 (Sloshing Machine)
                    <br>
                    3021 (Sloshing Machine Neo)
                    <br>
                    3022 (Kensa Sloshing Machine)
                    <br>
                    3030 (Bloblobber)
                    <br>
                    3031 (Bloblobber Deco)
                    <br>
                    3040 (Explosher)
                    <br>
                    3041 (Custom Explosher)
                    <br>
                    4000 (Mini Splatling)
                    <br>
                    4001 (Zink Mini Splatling)
                    <br>
                    4002 (Kensa Mini Splatling)
                    <br>
                    4010 (Heavy Splatling)
                    <br>
                    4011 (Heavy Splating Deco)
                    <br>
                    4012 (Heavy Splatling Remix)
                    <br>
                    4015 (Hero Splatling Replica)
                    <br>
                    4020 (Hydra Splatling)
                    <br>
                    4021 (Custom Hydra Splatling)
                    <br>
                    4030 (Ballpoint Splatling)
                    <br>
                    4031 (Ballpoint Splatling Nouveau)
                    <br>
                    4040 (Nautilus 47)
                    <br>
                    4041 (Nautilus 79)
                    <br>
                    5000 (Dapple Dualies)
                    <br>
                    5001 (Daple Dualies Nouveau)
                    <br>
                    5002 (Clear Dapple Dualies)
                    <br>
                    5010 (Splat Dualies)
                    <br>
                    5011 (Enperry Splat Dualies)
                    <br>
                    5012 (Kensa Splat Dualies)
                    <br>
                    5015 (Hero Dualie Replicas)
                    <br>
                    5020 (Glooga Dualies)
                    <br>
                    5021 (Glooga Dualies Deco)
                    <br>
                    5022 (Kensa Glooga Dualies)
                    <br>
                    5030 (Dualie Squelchers)
                    <br>
                    5031 (Custom Dualie Squelchers)
                    <br>
                    5040 (Dark Tetra Dualies)
                    <br>
                    5041 (Light Tetra Dualies)
                    <br>
                    6000 (Splat Brella)
                    <br>
                    6001 (Sorella Brella)
                    <br>
                    6005 (Hero Brella Replica)
                    <br>
                    6010 (Tenta Brella)
                    <br>
                    6011 (Tenta Sorella Brella)
                    <br>
                    6012 (Tenta Camo Brella)
                    <br>
                    6020 (Undercover Brella)
                    <br>
                    6021 (Undercover Sorella Brella)
                    <br>
                    6022 (Kensa Undercover Brella)
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        species
                    </span>
                    inklings
                    <br>
                    octolings
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        gender
                    </span>
                    girl
                    <br>
                    boy
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        rule
                    </span>
                    splat_zones
                    <br>
                    rainmaker
                    <br>
                    clam_blitz
                    <br>
                    tower_control
                    <br>
                    turf_war
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        match_type
                    </span>
                    league_pair
                    <br>
                    league_team
                    <br>
                    gachi (ranked)
                    <br>
                    private
                    <br>
                    turf_war
                    <br>
                    fes_solo
                    <br>
                    fes_team
                    <br>
                    fest
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        stages
                    </span>
                    0 (The Reef)
                    <br>
                    1 (Musselforge Fitness)
                    <br>
                    2 (Starfish Mainstage)
                    <br>
                    3 (Sturgeon Shipyard)
                    <br>
                    4 (Inkblot Art Academy)
                    <br>
                    5 (Humpback Pump Track)
                    <br>
                    6 (Manta Maria)
                    <br>
                    7 (Port Mackerel)
                    <br>
                    8 (Moray Towers)
                    <br>
                    9 (Snapper Canal)
                    <br>
                    10 (Kelp Dome)
                    <br>
                    11 (Blackbelly Skatepark)
                    <br>
                    12 (Shellendorf Institute)
                    <br>
                    13 (MakoMart)
                    <br>
                    14 (Walleye Warehouse)
                    <br>
                    15 (Arowana Mall)
                    <br>
                    16 (Camp Triggerfish)
                    <br>
                    17 (Piranha Pit)
                    <br>
                    18 (Goby Arena)
                    <br>
                    19 (New Albacore Hotel)
                    <br>
                    20 (Wahoo World)
                    <br>
                    21 (Ancho-V Games)
                    <br>
                    22 (Skipper Pavillion)
                    <br>
                    109 (Zappy Longshocking)
                    <br>
                    112 (The Switches)
                    <br>
                    113 (Sweet Valley Tentacles)
                    <br>
                    115 (Railway Chillin')
                    <br>
                    118 (Flooders in the Attic)
                    <br>
                    119 (The Splat in Our Zones)
                    <br>
                    120 (The Ink is Spreading)
                    <br>
                    121 (Bridge to Tentaswitchia)
                    <br>
                    122 (The Chronicles of Rolonium)
                    <br>
                    9999 (Shifty Station)
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        main
                    </span>
                    0 (Ink Saver Main)
                    <br>
                    1 (Ink Saver Sub)
                    <br>
                    2 (Ink Recovery Up)
                    <br>
                    3 (Run Speed Up)
                    <br>
                    4 (Swim Speed Up)
                    <br>
                    5 (Special Charge Up)
                    <br>
                    6 (Special Saver)
                    <br>
                    7 (Special Power Up)
                    <br>
                    8 (Quick Respawn)
                    <br>
                    9 (Quick Super Jump)
                    <br>
                    10 (Sub Power Up)
                    <br>
                    11 (Ink Resistance Up)
                    <br>
                    100 (Opening Gambit)
                    <br>
                    101 (Last Ditch Effort)
                    <br>
                    102 (Tenacity)
                    <br>
                    103 (Comeback)
                    <br>
                    104 (Ninja Squid)
                    <br>
                    105 (Haunt)
                    <br>
                    106 (Thermal Ink)
                    <br>
                    107 (Respawn Punisher)
                    <br>
                    108 (Ability Doubler)
                    <br>
                    109 (Stealth Jump)
                    <br>
                    110 (Object Shredder)
                    <br>
                    111 (Drop Roller)
                    <br>
                    200 (Bomb Defense Up DX)
                    <br>
                    201 (Main Power Up)
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        sub
                    </span>
                    0 (Ink Saver Main)
                    <br>
                    1 (Ink Saver Sub)
                    <br>
                    2 (Ink Recovery Up)
                    <br>
                    3 (Run Speed Up)
                    <br>
                    4 (Swim Speed Up)
                    <br>
                    5 (Special Charge Up)
                    <br>
                    6 (Special Saver)
                    <br>
                    7 (Special Power Up)
                    <br>
                    8 (Quick Respawn)
                    <br>
                    9 (Quick Super Jump)
                    <br>
                    10 (Sub Power Up)
                    <br>
                    11 (Ink Resistance Up)
                    <br>
                    200 (Bomb Defense Up DX)
                    <br>
                    201 (Main Power Up)
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block aftercontent %}
{% endblock aftercontent %}