{% extends "base.html" %}
    <head>
        {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'two_battles/battle.css' %}">
        {% endblock head %}
    </head>
    <body>
        {% block content %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weapon</th>
                        <th>Level</th>
                        <th>Rank</th>
                        <th>Inked</th>
                        <th>k+a/sp</th>
                        <th>k/d</th>
                        <th>Gear</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in battle_players %}
                        <tr>
                            <th>{{ player.name }}</th>
                            <th>{{ player.weapon }}</th>
                            <th>{{ player.level_star }}★{{ player.level }}</th>
                            <th>{{ player.rank }}</th>
                            <th>{{ player.game_paint_point }}</th>
                            <th>{{ player.k_a }} ({{ player.assists }}) / {{ player.specials }}</th>
                            <th>{{ player.kills }} / {{ player.deaths }}</th>
                            <th class="gear">
                                <div class="headgear">
                                    <img class="main" src="{{ player.headgear_main }}">
                                    <img class="sub_0" src="{{ player.headgear_sub0 }}">
                                    <img class="sub_1" src="{{ player.headgear_sub1 }}">
                                    <img class="sub_2" src="{{ player.headgear_sub2 }}">
                                </div>
                                <div class="clothes">
                                    <img class="main" src="{{ player.clothes_main }}">
                                    <img class="sub_0" src="{{ player.clothes_sub0 }}">
                                    <img class="sub_1" src="{{ player.clothes_sub1 }}">
                                    <img class="sub_2" src="{{ player.clothes_sub2 }}">
                                </div>
                                <div class="shoes">
                                    <img class="main" src="{{ player.shoes_main }}">
                                    <img class="sub_0" src="{{ player.shoes_sub0 }}">
                                    <img class="sub_1" src="{{ player.shoes_sub1 }}">
                                    <img class="sub_2" src="{{ player.shoes_sub2 }}">
                                </div>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock content %}
    </body>
</html>