{% extends "base.html" %}

{% block content_wrapper %}
    <div class="card darken-1">
        <div class="card-content">
            <span class="card-title">
                Advanced Search
            </span>
            This page is incomplete. The search works, but documentation is lacking. Check back later for more details.
        </div>
    </div>
    <div class="card darken-1">
        <form action="" method="get">
            <div class="card-content">
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            </div>
            <div class="card-action">
                <input type="submit" value="Filter">
            </div>
        </form>
    </div>
    <div class=row>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        Weapon usage
                    </span>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                      <li class="tab"><a class="active" href="#weapon_most">Most Used</a></li>
                      <li class="tab"><a href="#weapon_least">Least Used</a></li>
                    </ul>
                  </div>
                  <div class="card-content">
                    <div id="weapon_most">
                        <pre>
i := 0
set := eq(player_weapon, weapons.index(i))
while (lt(i, -(len(weapons), 1))) {
    set_in := eq(player_weapon, weapons.index(i))
    if (<b>lt</b>(len(set), len(set_in))) {
        set := set_in
    } else {
    }
    i := +(i, 1)
}
return (set)
                        </pre>
                    </div>
                    <div id="weapon_least">
                        <pre>
i := 0
set := eq(player_weapon, weapons.index(i))
while (lt(i, -(len(weapons), 1))) {
    set_in := eq(player_weapon, weapons.index(i))
    if (<b>gt</b>(len(set), len(set_in))) {
        set := set_in
    } else {
    }
    i := +(i, 1)
}
return (set)
                        </pre>
                    </div>
                  </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        Available Attributes
                    </span>
                    List below uses RegEx for conciseness.
                    Do not type in the RegEx exactly, but instead use a string that it would match.
                    <br>
                    <br>
                    rule
                    <br>
                    match_type
                    <br>
                    stage
                    <br>
                    win
                    <br>
                    has_disconnected_player
                    <br>
                    time
                    <br>
                    battle_number
                    <br>
                    win_meter
                    <br>
                    /((my)|(other))_team_count/
                    <br>
                    elapsed_time
                    <br>
                    tag_id
                    <br>
                    league_point
                    <br>
                    splatfest_point
                    <br>
                    splatfest_title_after
                    <br>
                    player_x_power
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_weapon/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_rank/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_level(_star)?/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((kills)|(deaths)|(assists))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((specials)|(game_paint_point))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_splatfest_title/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((name)|(splatnet_id))
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((gender)|(species))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((headgear)|(clothes)|(shoes))/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((headgear)|(clothes)|(shoes))_sub[0-2]/
                    <br>
                    /((player)|(teammate_[a-c])|(opponent_[a-d]))_((headgear)|(clothes)|(shoes))_main/
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        About the advanced search
                    </span>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Extended Backus-Naur form</div>
                            <div class="collapsible-body">
                                <span>
                                    <pre>
lowercase_letter = "a" | "b" | "c" | "d" | "e" | "f" | "g" | "h"
                 | "i" | "j" | "k" | "l" | "m" | "n" | "o" | "p"
                 | "q" | "r" | "s" | "t" | "u" | "v" | "w" | "x"
                 | "y" | "z" ;
uppercase_letter = "A" | "B" | "C" | "D" | "E" | "F" | "G" | "H"
                 | "I" | "J" | "K" | "L" | "M" | "N" | "O" | "P"
                 | "Q" | "R" | "S" | "T" | "U" | "V" | "W" | "X"
                 | "Y" | "Z" ;
letter = lowercase_letter | uppercase_letter ;
bool = "True" | "False" ;
digit_not_zero = "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8"
               | "9" ;
digit = "0" | digit_not_zero ;
string = '"' , { letter | digit | "_" | " " | "'" | "-" }
       , '"' ;
inline_comment = "/*" , { letter | digit | "_" | " " | "'"
               | "-" } ,  "*/";
int = ( [ "-" ] digit_not_zero , { digit } ) | "0" ;
float = int , "." , digit , { digit } ;
value = bool | int | float | string ;
identifier = lowercase_letter, { lowercase_letter | digit
           | "_" } ;
newline = "\r\n" | "\r" | "\n";
whitespace = " " | newline ;
binary_bool_bitwise_op = ( "and" )
                       | ( [ "x" ] , "or" ) ;
comp_op = ( "g" , ( "e" | "t" ) )
        | ( "l" , ( "e" | "t" ) )
        | ( "eq" ) ;
math_op = "+" | "-" | "*" | "/" ;
binary_op = ( comp_op | binary_bool_bitwise_op | math_op )
          , "(" , [ whitespace ] , term , [ whitespace ] , "," ,
          [ whitespace ] , term , [ whitespace ] , ")" ;
unary_op = ( "not" ) | ( "len" )
         , "(" , [ whitespace ] , term , [ whitespace ] , ")" ;
assignment = identifier | obj_func_call , [ whitespace ] , ":="
           , [ whitespace ] , term ;
list = "[" , [ whitespace ] , [ { term , "," , [ whitespace ] }
     , term , [ whitespace ] ] , "]" ;
func_call = identifier [ "(" , [ whitespace ] , [ term , { "," ,
          [ whitespace ] , term } , [ whitespace ] ] ")" ] ;
obj_func_call = identifier , "." , identifier , "("
              , [ whitespace ] , [ term , { ","
              , [ whitespace ] , term , [ whitespace ] } ]
              , ")" ;
term = identifier
     | func_call
     | binary_op
     | unary_op
     | value
     | obj_func_call
     | list ;
line = ( if , [ whitespace ] )
     | ( while , [ whitespace ] )
     | ( def , [ whitespace ] )
     | ( assignment , [ whitespace ] )
     | ( return , [ whitespace ]  );
return = "return" , [ [ whitespace ] , "(" , [ whitespace ]
       , term , [ whitespace ] , ")" ] ;
if = "if(" , [ whitespace ] , term , [ whitespace ] , ")" ,
   [ whitespace ] , "{" , [ whitespace ] , { line } , "}" ,
   [ whitespace ], "else" , [ whitespace ] , "{" ,
   [ whitespace ] , { line } , "}" ;
while = "while(" , [ whitespace ] , identifier | binary_op
      | list_index_at | unary_op , [ whitespace ] , ")" ,
      [ whitespace ] , "{" , [ whitespace ] , { line } , "}" ;
def = "def" , [ whitespace ] , identifier , "(" , [
    [ whitespace ] , identifier { [ whitespace ] , ","
    , [ whitespace ] , identifier } ] , [ whitespace ] , ")"
    , [ whitespace ] , "{" , [ whitespace ] , { line } , "}" ;
                                    </span>
                                </pre>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Literals</div>
                            <div class="collapsible-body">
                                <span>
                                    The search language denotes literals in a few ways.
                                    <pre>
/* A string */
"Custom Dualie Squelchers"

/* An integer */
5

/* A decimal */
7.2

/* A Boolean */
True
                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Variables (and assignment)</div>
                            <div class="collapsible-body">
                                <span>
                                    The advanced search allows you to store variables, for various purposes.
                                    They can store any value in the language.
                                    <pre>
/* zero_var contains the value 0 */
zero_var := 0

/* "Hello World!" string example */
hello_world := "Hello World!"
                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Math Operators</div>
                            <div class="collapsible-body">
                                <span>
                                    The search language allows you to preform math operations.
                                    Math operations are denoted using prefix notation, as function calls.
                                    <pre>
/* 1 + 0 */
+(1, zero_val)

/* 3 - 2 */
-(3, 2)

/* 4 * 5 */
*(4, 5)

/* 9 / 3 */
/(9, 3)
                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Lists (and list operations)</div>
                            <div class="collapsible-body">
                                <span>
                                    The search language allows you to store multiple values in a single identifier using lists.
                                    Lists have their own special functions.
                                    <pre>
/* The Alice sequence of numbers */
alice_sequence := [1, 1, 1, 1, 1, 1]

/* A list of strings. Note that this is different from a
   single string. */
list_of_strings := [hello_world, "."]

/* Adding to the end of a list */
list_of_strings.push(".")
/* list_of_strings now contains [hello_world, ".", "."]

/* Removing from the end of a list */
alice_sequence.pop()
/* alice_sequence now contains [1, 1, 1, 1, 1] */
                                    </pre>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Sets</div>
                            <div class="collapsible-body">
                                <span>
                                    At the core of the advanced search is sets.
                                    You filter the data into sets by using comparisons with attributes.
                                    <pre>
/* Identifies the set of matches where the player used the
   "Custom Dualie Squelchers" weapon. */
eq(player_weapon, "Custom Dualie Squelchers")

/* Identifies the set of matches where the SplatNet battle
   number is smaller than 3000. */
lt(battle_number, 3000)

/* Identifies the set of matches where your team scored any
   nonzero number of points. */
gt(my_win_count, zero_var)
                                    </pre>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content_wrapper %}