{% extends "main_site.html" %}

{% block content_wrapper %}
    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card darken-1">
                <form action="" method="get">
                    <div class="card-content">
                        {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="card-action">
                        <input class="btn waves-effect waves-light" type="submit" value="Filter">
                        {% if not search_status %}
                            <a href="advanced_search">Advanced Filter</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m8 l9">
            {% if my_list %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1&query={{ query }}{{ attributes }}">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}{{ attributes }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&query={{ query }}{{ attributes }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}{{ attributes }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Splatnet #</th>
                        <th>Mode</th>
                        <th>Stage</th>
                        <th>Weapon</th>
                        <th>Result</th>
                        <th>k/d</th>
                        <th>Time</th>
                    </tr>
                {% for battle, result, time_val, player_weapons in my_list %}
                    <tr>
                        <td>{{ battle.player_name }}</td>
                        <td><a href="/two_battles/{{ battle.id }}/">{{ battle.battle_number }}</a></td>
                        <td>{{ battle.get_rule_display }}</td>
                        <td>{{ battle.get_stage_display }}</td>
                        <td><img style="height: 36px;" src="{{ player_weapons }}">{{ battle.get_player_weapon_display }}</td>
                        <td>{{ result }}</td>
                        <td>{{ battle.player_kills }}/{{ battle.player_deaths }}</td>
                        <td>{{ time_val }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No battles are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock content_wrapper %}
{% block aftercontent %}
    {% load static %}
    <script src="{% static 'two_battles/js/index.js' %}"></script>
{% endblock aftercontent %}