{% extends "base.html" %}
    <head>
        {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'two_battles/battle.css' %}">
        {% endblock head %}
    </head>
    <body>
        {% block content %}
            <table>
                <tr>
                    <th>SplatNet Battle #</th>
                    <th>{{ battle.battle_number }}</th>
                </tr>
                <tr>
                    <th>Mode</th>
                    <th>{{ battle.get_rule_display }} - {{battle.get_match_type_display }}</th>
                </tr>
                <tr>
                    <th>Stage</th>
                    <th>{{ battle.get_stage_display }}</th>
                </tr>
                <tr>
                    <th>Result</th>
                    <th>{{ result }}, {{ end_result }}</th>
                </tr>
                <tr>
                    <th>Final Count</th>
                    <th>{{ battle.my_team_count }}:{{ battle.other_team_count }}</th>
                </tr>
                <tr>
                    <th>Battle Start</th>
                    <th>{{ start_time }}</th>
                </tr>
                <tr>
                    <th>Battle End</th>
                    <th>{{ end_time }}</th>
                </tr>
                <tr>
                    <th>Elapsed Time</th>
                    <th>{{ elapsed_time_min_sec }} ({{ battle.elapsed_time }} seconds)</th>
                </tr>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weapon</th>
                        <th>Level</th>
                        <th>Rank</th>
                        <th>Inked</th>
                        <th>k+a/sp</th>
                        <th>k/d</th>
                        <th>Gear</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in battle_players %}
                        <tr>
                            <th>{{ player.name }}</th>
                            <th><img style="height: 30px;" src="{{ player.weapon_icon }}">{{ player.weapon }}</th>
                            <th>{{ player.level_star }}★{{ player.level }}</th>
                            <th>{{ player.rank }}</th>
                            <th>{{ player.game_paint_point }}</th>
                            <th>{{ player.k_a }} ({{ player.assists }}) / {{ player.specials }}</th>
                            <th>{{ player.kills }} / {{ player.deaths }}</th>
                            <th>
                                <img class="main" src="{{ player.headgear_main }}">
                                <img class="sub" src="{{ player.headgear_sub0 }}">
                                <img class="sub" src="{{ player.headgear_sub1 }}">
                                <img class="sub" src="{{ player.headgear_sub2 }}">
                                <img class="main" src="{{ player.clothes_main }}">
                                <img class="sub" src="{{ player.clothes_sub0 }}">
                                <img class="sub" src="{{ player.clothes_sub1 }}">
                                <img class="sub" src="{{ player.clothes_sub2 }}">
                                <img class="main" src="{{ player.shoes_main }}">
                                <img class="sub" src="{{ player.shoes_sub0 }}">
                                <img class="sub" src="{{ player.shoes_sub1 }}">
                                <img class="sub" src="{{ player.shoes_sub2 }}">
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock content %}
    </body>
</html>